.wht_Font_11px{
  font-size : x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  
}

.wht_Font_11px_Bold{
  font-weight : bold;
  font-size : x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
   
}

.wht_Font_13px_Bold{
  font-weight : bold;
  font-size : x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
   
}

.blk_Font_13px_Bold{
  font-weight : bold;
  font-size : small;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  
}

.blk_Font_12px{
  font-size: x-small;
  font-family : Arial, Helvetica, sans-serif;
  color: #000000;
}

.blk_Font_11px{
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
   
}

.blk_Font_11px_Bold{
  font-weight : bold;
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
   
}


.RedText {
	font-size:x-small; 
	COLOR: #FF0000; 
	FONT-FAMILY: arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}

.RedTextBold {
	font-size: x-small; 
	font-weight : bold;
	COLOR: #FF0000; 
	FONT-FAMILY: arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}

.BlueText {
	font-size: x-small; 
	COLOR: #0000FF; 
	FONT-FAMILY: arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.BlueTextBold {
	font-size: x-small; 
	font-weight : bold;
	COLOR: #0000FF; 
	FONT-FAMILY: arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}

.button {
 display: none;
  font-family: Arial, Helvetica, sans-serif;
   font-size: 75%;
 }

td.engine_Cell_Head{
  font-weight : bold;
  font-size : x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  padding-right: 10 px;
  padding-bottom: 2 px;

}

td.engine_Cell, td.cell_Padding{
  font-size : x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  padding-right: 10 px;
  padding-bottom: 2 px;
  padding-top: 2 px;

}

a.topNav:link, a.topNav:active  {
    font-weight : bold;
	font-size : 12px;
	text-decoration : none;
	color : #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	}

a.topNav:visited  {
    font-weight : bold;
	font-size : 12px;
	text-decoration : none;
	color : #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
}	

 a.topNav:Hover  {
    font-weight : bold;
	font-size : 12px;
	text-decoration : none;
	color : #E39215;
	font-family : Arial, Helvetica, sans-serif;
	}

a.smUrlLink:link, a.smUrlLink:active  {
    font-weight : bold;
	font-size : x-small;
	text-decoration : none;
	color : #2A63ED;
	font-family : Arial, Helvetica, sans-serif;
	}

a.smUrlLink:visited  {
    font-weight : bold;
	font-size : x-small;
	text-decoration : none;
	color : #08349D;
	font-family : Arial, Helvetica, sans-serif;
	}	
	
a.smUrlLink:hover  {
    font-weight : bold;
	font-size : x-small;
	text-decoration : none;
	color : #E39215;
	font-family : Arial, Helvetica, sans-serif;
	}
	
a.smUrlLinkUL:link, a.smUrlLinkUL:active  {
    font-weight : bold;
	font-size : x-small;
	text-decoration : underline;
	color : #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	}
	
a.smUrlLinkUL:visited  {
    font-weight : bold;
	font-size : x-small;
	text-decoration : underline;
	color : #08349D;
	font-family : Arial, Helvetica, sans-serif;
	}	
	
a.smUrlLinkUL:hover  {
    font-weight : bold;
	font-size : x-small;
	text-decoration : none;
	color : #E39215;
	font-family : Arial, Helvetica, sans-serif;
	}					
	
a.engineLink:link, a.engineLink:active  {
    font-weight : bold;
	font-size : x-small;
	text-decoration : underline;
	color : #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	}
	
a.engineLink:visited {
    font-weight : bold;
	font-size : x-small;
	text-decoration : underline;
	color : #08349D;
	font-family : Arial, Helvetica, sans-serif;
	}	
	
a.engineLink:hover  {
    font-weight : bold;
	font-size : x-small;
	text-decoration : none;
	color : #E39215;
	font-family : Arial, Helvetica, sans-serif;
	}	
	
a:link, a:active  {
	font-size: x-small;
	text-decoration : underline;
	color : #2A63ED;
	font-family : Arial, Helvetica, sans-serif;
}			

a:visited  {
	font-size: x-small;
	text-decoration : underline;
	color : #08349D;
	font-family : Arial, Helvetica, sans-serif;
	}		

a:hover  {
	font-size: x-small;
	text-decoration : none;
	color : #E39215;
	font-family : Arial, Helvetica, sans-serif;
}	


a.URLLink:link, a.URLLink:active  {
	font-size : x-small;
	text-decoration : underline;
	color : #2A63ED;
	font-family : Arial, Helvetica, sans-serif;
	}			

a.URLLink:visited  {
	font-size : x-small;
	text-decoration : underline;
	color : #08349D;
	font-family : Arial, Helvetica, sans-serif;
	}		
	
a.URLLink:hover  {
	font-size : x-small;
	text-decoration : none;
	color : #E39215;
	font-family : Arial, Helvetica, sans-serif;
	}	
	
