    
    <!-- Comment List Start ------------------------------------------------ -->
    {if $show_comments == true}
    <a name="g10e_top"></a>
    <h2 class="g10e_headline">{$txt_entry_headline} ({$result_number})</h2>  
    {if $show_sign_link == true}
      <a href="?d=sign">{$txt_sign_guestbook}</a>
    {/if}
    <div class="g10e_comment_list">
        {foreach from=$comment_list item=item}
            <div class="g10e_comment_item_background">
            <div class="g10e_comment_item">
                <div class="g10e_comment_item_text">{$item.frontend_text}</div>
                <div class="g10e_comment_item_details"> 
                    # {$item.comment_number} -
                    {if $item.comment_author_homepage == '' or $item.comment_author_homepage == 'http://'}
                      {$item.comment_author_name}
                    {else}
                      <a href="{$item.comment_author_homepage}">{$item.comment_author_name}</a> -
                    {/if} 
                    {$item.comment_date} - 
                    {$item.comment_time} -
                    {$txt_city}: {$item.comment_author_city} -  
                    {$txt_state}: {$item.comment_author_state} -
                    {$txt_country}: {$item.comment_author_country} 
                </div>
            </div>
            </div>
        {/foreach}
    </div>
    {/if}
    <!-- Comment List End  ------------------------------------------------- -->

    
    
    
    <!-- Pagination Form Start --------------------------------------------- -->
    {if $show_comments == true and $comment_list and $display_pagination}
    <div class="g10e_frontend_pagination">
      {if $browse_previous == 2}
        <a href="{$start_page_url}">{$txt_start}</a>
        <a href="{$previous_page_url}">&laquo;&nbsp;{$txt_previous_page}</a>
      {else}
        <span>{$txt_start}</span>
        <span>&laquo;&nbsp;{$txt_previous_page}</span>
      {/if}
      
      {if $browse_next == 2}
        <a href="{$next_page_url}">{$txt_next_page}&nbsp;&raquo;</a>
        <a href="{$end_page_url}">{$txt_end}</a>
      {else}
        <span>{$txt_next_page}&nbsp;&raquo;</span>
        <span>{$txt_end}</span>
      {/if}
    </div>
    {/if}
    <!-- Pagination Form End   --------------------------------------------- -->
    
    
    
    
    


    <!-- Comment Form Start ------------------------------------------------ -->
      {if $show_form == true}
        <a name="g10e_form"></a>
        <h2 class="g10e_headline">{$txt_sign_guestbook}</h2>
        {if $show_list_link == true}
          <a href="?d=list">{$txt_guestbook_entries}</a>
        {/if}
        
        <div class="g10e_comment_form_background">
        <form {$form.attributes}>
        {$form.hidden}
          <table class="g10e_comment_form_table">

            <tr>
              <td colspan="2" class="g10e_error_message">
                {foreach from=$message item=item}
                  <div class="g10e_error_message_item">{$item}</div>
                {/foreach}              
              </td>
            </tr>

            {if $active_form == true}
            <tr>
              <td class="g10e_comment_form_label">
                {if $form.name.error} <span class="g10e_error_message">{$form.name.error}</span> {else} {$form.name.label} {/if}  
              </td>
              <td class="g10e_comment_form_field">
                {$form.name.html}
              </td>
            </tr>

            <tr>
              <td class="g10e_comment_form_label">
                {if $form.email.error} <span class="g10e_error_message">{$form.email.error}</span> {else} {$form.email.label} {/if}
              </td>
              <td class="g10e_comment_form_field">
                {$form.email.html}
              </td>
            </tr>

            <tr>
              <td class="g10e_comment_form_label">{$form.homepage.label}</td>
              <td class="g10e_comment_form_field">
                {$form.homepage.html}
              </td>
            </tr>

            <tr>
              <td class="g10e_comment_form_label">{$form.city.label}</td>
              <td class="g10e_comment_form_field">
                {$form.city.html}
              </td>
            </tr>

            <tr>
              <td class="g10e_comment_form_label">{$form.state.label}</td>
              <td class="g10e_comment_form_field">
                {$form.state.html}
              </td>
            </tr>

            <tr>
              <td class="g10e_comment_form_label">{$form.country.label}</td>
              <td class="g10e_comment_form_field">
                {$form.country.html}
              </td>
            </tr>

            <tr>
              <td></td>
              <td class="g10e_comment_form_field">
                {call_module trigger="frontend_textarea" field=$comment_field_name}                
              </td>
            </tr>
            
            <tr>
              <td class="g10e_comment_form_label">
                {if $form.$comment_field_name.error} <span class="g10e_error_message">{$form.$comment_field_name.error}</span> {else} {$form.$comment_field_name.label} {/if}
              </td>
              <td class="g10e_comment_form_field">
                {$form.$comment_field_name.html}                
              </td>
            </tr>
            
            <tr>
              <td></td>
              <td class="g10e_comment_form_field">
                {call_module trigger="frontend_comment_form"}
              </td>
            </tr>


            <tr>
              <td class="g10e_comment_form_label"></td>
              <td class="g10e_comment_form_submit">{$form.save.html}</td>
            </tr>

            {/if}
          </table>
            
        </form>
        </div>
      {/if}
    <!-- Comment Form End   ------------------------------------------------ -->
    
    <br />
    {call_module trigger="frontend_content_footer" data="$page_data"}
    
    
    
    
