    <img src="../template/admin/image/icon/latestcomments_large.png" width="32" height="32" align="left" style="margin-right:20px;" />
    
    <h3>{$txt_guestbook_entries} ({$result_number})</h3>
      
    
    <div class="g10e_search_form_background">
    <div class="g10e_search_form">
    <form {$search.attributes}>
    {$form.hidden}
    <!-- {$form.search_field.label} --> {$form.search_field.html}
    {$form.search_query.label} {$form.search_query.html}
    {$form.search.html}
    {$form.search_delete.html}
    </form>
    </div>
    </div>
    
    
    
    <div class="g10e_error_message" style="margin-top:20px;">
      {foreach from=$message item=item}
        <div class="g10e_error_message_item">{$item}</div>
      {/foreach}              
    </div>
    
    
    {if $delete_confirmation.dialogue == 1}
    <div class="g10e_confirmation_background">
    <div class="g10e_confirmation">
        <div class="g10e_confirmation_text">
          {$txt_sure_delete_entry}
        </div>
        <div class="g10e_confirmation_buttons">
          <a href="./commentlistall.php?do=dc&amp;c={$delete_confirmation.comment_id}#g10e_{$delete_confirmation.anchor}">{$txt_yes_sure}</a>
          <a href="./commentlistall.php?c={$delete_confirmation.comment_id}#g10e_{$delete_confirmation.comment_id}">{$txt_cancel}</a>
        </div>
    </div>
    </div>
    {/if}
    
    
    {if $delete_list_confirmation.dialogue == 1}
    
    <form name="commentlist" action="./commentlistall.php" method="POST">
    
    {foreach from=$delete_list_confirmation.list item=item}
    <input type="hidden" name="delete_comment[]" value="{$item}" />
    {/foreach}
    
    <div class="g10e_confirmation_background">
    <div class="g10e_confirmation">
        <div class="g10e_confirmation_text">
          {$txt_sure_delete_entries}
        </div>
    <input type="submit" name="submit_delete_comments_c" value="{$txt_yes_sure}"/>
    <span class="g10e_link_submit_button"><a href="./commentlistall.php">{$txt_cancel}</a></span>
    
    </div>  
    </div>
    </form>
    {/if}
    
    

    <div class="g10e_comment_list_admin">
        <form name="commentlist" action="./commentlistall.php" method="POST">
        {foreach from=$comment_list item=item}
            <a name="g10e_{$item.comment_id}"></a>
            <div class="g10e_comment_item_admin_background {if $item.comment_status == $status_spam}g10e_spam_comment{/if}">
            <div class="g10e_comment_item_admin {if $item.comment_status == $status_spam}g10e_spam_comment{/if}">
                <div class="g10e_comment_item_admin_details">
                    # {$item.comment_number} 
                    - {$item.comment_date} 
                    - {$item.comment_time}                 
                    - {$txt_author_ip_address}: {$item.comment_author_ip}
                    - <span title="{$item.comment_author_host}">{$txt_author_hostname}: {$item.hostname_output}</title>
                    - <span title="{$item.comment_author_user_agent}">{$txt_author_user_agent}: {$item.user_agent_output}</title>                                        
                </div>
                <div class="g10e_comment_item_admin_text">{$item.frontend_text}</div>
                <div class="g10e_comment_item_footer">
                    <a href="{$item.comment_author_homepage}">{$item.comment_author_name}</a>
                    - {$txt_city}: {$item.comment_author_city}  
                    - {$txt_state}: {$item.comment_author_state}
                    - {$txt_country}: {$item.comment_author_country}                    
                </div>
                <div class="g10e_comment_item_admin_buttons">
                  <input type="checkbox" name="delete_comment[]" value="{$item.comment_id}" />
                  <a href="./commentlistall.php?do=d&amp;c={$item.comment_id}&amp;p={$item.previous_id}" onclick="return delete_comment('./commentlistall.php?do=dc&amp;c={$item.comment_id}#g10e_{$item.previous_id}');">{$txt_delete}</a> 
                  <a href="./comment.php?do=e&amp;c={$item.comment_id}">{$txt_edit}</a> 
                  {if $item.comment_status == $status_approved} 
                  <a href="./commentlistall.php?do=da&amp;c={$item.comment_id}#g10e_{$item.comment_id}">{$txt_disapprove}</a>
                  {else}
                  <a href="./commentlistall.php?do=a&amp;c={$item.comment_id}#g10e_{$item.comment_id}">{$txt_approve}</a>
                  {/if}
                  {if $item.comment_status == $status_spam} 
                  <a href="./commentlistall.php?do=ns&amp;c={$item.comment_id}#g10e_{$item.comment_id}">{$txt_not_spam}</a>
                  {else}
                  <a href="./commentlistall.php?do=ms&amp;c={$item.comment_id}#g10e_{$item.comment_id}">{$txt_mark_as_spam}</a>
                  {/if}
                  {call_module trigger="backend_comment_control" script_name="commentlistall.php" data=$item anchor="g10e_"}
                </div>
            </div>
            </div>
        {/foreach}
        
        <div class="g10e_confirmation_background">
        <div class="g10e_confirmation">
        <input type="submit" name="submit_delete_comments" value="{$txt_delete_entries}"/>
        <input type="checkbox" name="checkall" value="{$txt_check_all}" onclick="check_all(document.commentlist, this);"/> {$txt_check_all}
        </div>  
        </div>
          
        </form>
    </div>



    <div class="g10e_pagination">
      {if $browse_previous == 2}
        <a href="./commentlistall.php?page=1">{$txt_start}</a>
        <a href="./commentlistall.php?{$query_previous}">&laquo;&nbsp;{$txt_previous_page}</a>
      {else}
        <span>{$txt_start}</span>
        <span>&laquo;&nbsp;{$txt_previous_page}</span>
      {/if}
      
      {if $browse_next == 2}
        <a href="./commentlistall.php?{$query_next}">{$txt_next_page}&nbsp;&raquo;</a>
        <a href="./commentlistall.php?page={$result_pages}">{$txt_end}</a>
      {else}
        <span>{$txt_next_page}&nbsp;&raquo;</span>
        <span>{$txt_end}</span>
      {/if}
    </div>
    

    <div class="g10e_results_per_page">
      {$txt_results_per_page} 
      <a href="./commentlistall.php?limit=10">10</a>
      <a href="./commentlistall.php?limit=20">20</a>
      <a href="./commentlistall.php?limit=30">30</a>
      <a href="./commentlistall.php?limit=40">40</a>
      <a href="./commentlistall.php?limit=50">50</a>
      <a href="./commentlistall.php?limit=60">60</a>
      <a href="./commentlistall.php?limit=70">70</a>
      <a href="./commentlistall.php?limit=80">80</a>
      <a href="./commentlistall.php?limit=90">90</a>
      <a href="./commentlistall.php?limit=100">100</a>
      <a href="./commentlistall.php?limit=150">150</a>
    </div>
