<img src="../template/admin/image/icon/configuration_large.png" width="32" height="32" align="left" style="margin-right:20px;" />
<h3>{$txt_configuration}</h3>


{if $display_form}
<fieldset class="g10e_setting_form">
  <legend>{$module_title}</legend>
  
        <div>{$module_description}</div>
    
        <div class="g10e_error_message" style="margin-top:20px;">
          {foreach from=$module_message item=item}
            <div class="g10e_error_message_item">{$item.message}</div>
          {/foreach}              
        </div>  
  
        <form {$form_attributes}>
        
        <table class="g10e_setting">
        {foreach from=$administration_form item=item}
        <tr>
          <td class="g10e_setting_form_label">{$item.label}</td>
          <td>
            {if $item.description}
                {$item.description}
            
                <br />
                <br />
            {/if}
            
            {if $item.elements}            
                {foreach from=$item.elements item=subitem}
                    {$subitem.html} {$item.separator}
                {/foreach}
            {else}            
                <div style="white-space:nowrap;">
                {$item.html}            
                {$item.add_html}
                </div>            
            {/if}
            {if $item.error} <br /><span class="g10e_error_message">{$item.error}<span> {/if}
          </td>
        </tr>
        {/foreach}
        </table>
        </form>
        
        
        {call_module trigger="module_demo" module=$module_name}
        
</fieldset>

{else}

<table>
{foreach from=$module_list item=item}
<tr>
  <td><a href="./module.php?m={$item.module}">{$item.name}</a></td>
</tr>
{/foreach}    
</table>

{/if}

